:root{
    --all-background: #FFFFFF;
    --text-color: #2E2F42;
    --logo-first: #4d5ae5;
    --logo-second: #2e2f42;
    --text-header-normal: #2e2f42;
    --text-header-contacts-normal: #434455;
    --text-header-hover: #404BBF;
    --title-background: #2E2F42;
    --title-button-normal: #4D5AE5;
    --title-button-hover: #404BBF;
    --title-text: #FFFFFF;
    --main-background-first: #F4F4FD;
    --text-dark-background: #f4f4fd;
    --first-button-portfolio-normal: #F4F4FD;
    --first-button-portfolio-hover: #404BBF;
    --text-first-button-portfolio: #4d5ae5;
    --text-first-portfolio-hover: #FFFFFF;
    --positions-team:#434455;
    --footer-text: #F4F4FD;
    --first-inscription-cards: #2E2F42;
    --second--inscription-cards: #434455;
    --second-section-text: #434455;
    --second-section-titles: #2e2f42;
    --fourth-section-titles: #2e2f42;
    --tytles-h-ll: #2e2f42;
}

*{
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--all-background);
}

h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;
    margin-bottom: 0;
} 

ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img{
    display: block;
}

.link{
    text-decoration: none;
}

button{
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header{
    border-bottom: 1px solid #E7E9FC;
}

.header-div{
    display: flex;
}

.nav{
    display: flex;
    align-items: center;
}

.header-ul-l{
    display: flex;
}

.header-ul-ll {
    display: flex;
    align-items: center;
}

header .list{
    gap: 40px;
}

.logo{
    color: var(--logo-first);
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
}

.span{
    color: var(--logo-second);
}

.portfolio-span {
    color: var(--logo-second);
}

.list{
    list-style: none;
}

.list-menu-header{
    color: var(--text-header-normal);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
}

.list-menu-header:hover,
.list-menu-header:focus{
    color: var(--text-header-hover);
}

.list-menu-header:hover,
.list-menu-header:focus {
    color: var(--text-header-hover);
}

.current::after{
    content: "";
    color: #404BBF;
    background-image: url(../images/icons.svg#icon-hover);
}

.list-menu-header:hover,
.list-menu-header:focus {
    color: var(--text-header-hover);
}

.list{
    list-style: none;
}

.address{
    font-style: normal;
    margin-left: auto;
}

.list-contacts-header{
    color: var(--text-header-contacts-normal);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
}

.list-contacts-header:hover,
.list-contacts-header:focus {
    color: var(--text-header-hover);
}

.list-contacts-header:hover,
.list-contacts-header:focus {
    color: var(--text-header-hover);
}

.first-section{
    background-color: var(--title-background);
    text-align: center;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    background-position: 50% 50%;            
}

.title-first-section{
    color: var(--title-text);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 100%;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.first-section-button{
    background-color: var(--title-button-normal);
    color: var(--title-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    display: block;
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
}

.first-section-button:hover,
.first-section-button:focus{
    background-color: var(--title-button-hover);
}

.second-section{
    padding: 120px 0;
}

.background-icons-ll-section{
    position: relative;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color:  #F4F4FD;
    margin-bottom: 8px;
}

.icons-ll-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.l-list-ll-section{
    gap: 24px;
    display: flex;
}

.item-l-list-ll-section{
    width: calc((100% - 72px)/4);
}

.ll-list-ll-section>li{
    border: 1px solid #E7E9FC;
}

.second-section-titles{
    color: var(--second-section-titles);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 8px;
}

.second-section-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--second-section-text);
}

.third-section{
    padding-bottom: 120px;
}

.tytles-h-ll{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--tytles-h-ll);
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
}

.l-list-lll-section {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.list-l-list-lll-section{
    width: calc((100% - 48px)/3);
}

.fourth-section{
    background-color: var(--main-background-first);
    padding: 120px 0;
}

.l-list-llll-section{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.list-icons-llll-section{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}

.background-icons-llll-section{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
}

.icons-llll-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
}

.list-fourth-section{
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px)/4);
}

.employee-data{
    padding: 32px 16px;
}

.fourth-section-h-lll{
    color: var(--fourth-section-titles);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;    
    margin-bottom: 8px;
}

.fifth-section{
    padding: 120px 0;
}

.list-icons-fifth-section{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.background-icons-fifth-section{
    position: relative;
    width: calc((100% - 24px*5)/6);
    height: 88px;    
    border-radius: 4px;
    border: 1px solid #8E8F99;
}

.icons-fifth-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 104px;
    height: 56px;
}

.fourth-section-p {
    color: var(--positions-team);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.footer{
    background-color: var(--title-background);
    padding: 100px 0;
}

.logo-footer{
    color: var(--logo-first);
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 16px;
}

.second-span {
    color: var(--text-dark-background);
}

.footer-p{
    color: var(--footer-text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    width: 100%;
    max-width: 264px;
}



.first-section-portfolio{
    padding: 96px 0 120px 0;
}

.portfolio-l-list{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.first-button {
    background-color: var(--first-button-portfolio-normal);
    color: var(--text-first-button-portfolio);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #E7E9FC;
    padding: 12px 24px;
}

.first-button:hover,
.first-button:focus{
    background-color: var(--first-button-portfolio-hover);
    color: var(--text-first-portfolio-hover);
    border: 1px solid transparent;
}

.portfolio-ll-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.item-portfolio-ll-list{
    width: calc((100% - 48px) / 3);
}

.link-portfolio-ll-list{
    display: block;
}

.application-data{
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.title-text-cards-portfolio{
    color:var(--first-inscription-cards);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 8px;
}

.text-cards-portfolio{
    color: var(--second--inscription-cards);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}